<!--profie banner-->
<section class="profile_banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <div class="banner_left text-center">
          <div class="fans-img profile_edit_img">
            <%= avatar_tag(@user) %>
            <div class="green_dot"></div>
          </div>
          <a class="Edit_btn" href="#">Edit profile</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="banner_mid">
          <h3><%= @user.name %></h3>
          <h5>..</h5>
          <p>...</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 col-12">
        <div class="banner_right">
          <h4>Favourite Categories</h4>
          <ul class="action">
            <li><a href="#">Action,</a></li>
            <li><a href="#">Comedy,</a></li>
            <li><a href="#">Drama,</a></li>
            <li><a href="#">Sci-Fi,</a></li>
            <li><a href="#">Romantic music</a></li>
          </ul>
          <div class="share">
            <h2>Share :</h2>
            <ul>
              <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--profie banner end-->
<!--new collection-->
<section class="new_collection">
  <div class="container">
    <div class="hole_new">
      <div class="new_left">
        <ul>
          <li>
            <i class="wtch_list wtch_lists"></i>
            <div class="watch_text">
              <h5>watchlist</h5>
              <h3>804</h3>
            </div>
          </li>
          <li>
            <i class="wtch_list wtch_liked"></i>
            <div class="watch_text">
              <h5>Liked</h5>
              <h3>804</h3>
            </div>
          </li>
          <li>
            <i class="wtch_list wtch_rating"></i>
            <div class="watch_text">
              <h5>My Ratings</h5>
              <h3>804</h3>
            </div>
          </li>
          <li>
            <i class="wtch_list wtch_review"></i>
            <div class="watch_text">
              <h5>My REviews</h5>
              <h3>804</h3>
            </div>
          </li>
          <li>
            <i class="wtch_list wtch_seen"></i>
            <div class="watch_text">
              <h5>seen</h5>
              <h3>804</h3>
            </div>
          </li>
          <li>
            <i class="wtch_list wtch_fans"></i>
            <div class="watch_text">
              <h5>Fans</h5>
              <h3>804</h3>
            </div>
          </li>
          <li>
            <i class="wtch_list wtch_following"></i>
            <div class="watch_text">
              <h5>Following</h5>
              <h3>804</h3>
            </div>
          </li>
          <li>
            <i class="wtch_list wtch_collection"></i>
            <div class="watch_text">
              <h5>My Collections</h5>
              <h3>804</h3>
            </div>
          </li>

        </ul>
      </div>
      <div class="new_right">
        <a href="#">Creat New Collection</a>
      </div>
    </div>
  </div>
</section>
<!--new collection end-->