<!--my reviews-->
<section class="rating_section on_rating">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col">
        <div class="heading_inner">
          <h2>My Reviews</h2>
        </div>
      </div>
    </div>
    <div class=" hole_left">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <h3 class="rat_heading">Movies Ratings</h3>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="see-more pt-3">
            <a href="#">See More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
          <h3 class="rat_heading">Series Ratings</h3>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="card flex-sm-row mb-2 shadow-sm border-0 rating_left_img ">
            <img class="card-img-left flex-auto d-none d-block" data-src="" alt="Thumbnail" src="images/profile/sr1.jpg">
            <div class="card-body d-flex flex-column align-items-start rbody_contant">

              <h4>
                <a class="text-dark" href="#">Brightburn(2019)</a>
              </h4>
              <p class="card-text mb-auto">what if a child from another world crash-land on earth, but instead
                of becoming a hero to mankind, he proved to be sometjing far more</p>
              <div class="rating-footer">
                <strong>Ratings :</strong>
                <ul>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star active"></i></li>
                  <li><i class="icon-gen-star "></i></li>
                </ul>
                <span class="d-line">|</span> <a href="#" class="edit-rating">Edit Rating</a>
              </div>
            </div>
          </div>
          <div class="see-more pt-3">
            <a href="#">See More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--my reviews end-->