<% #TODO: replace with favorites query
   @watched = Media.last(6)
%>
<!--my seen-->
<section class="trending black-slider-full my_seen">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-8 col">
        <div class="heading_inner">
          <h2>Seen</h2>
        </div>
      </div>
      <div class="col-md-6 col-sm-4 col">
        <div class="see-more">
          <a href="#">See More <i class="fa fa-caret-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="trending-slider">
      <div id="black-slider" class="owl-carousel owl-theme">
        <%= render @watched %>
      </div>
    </div>
  </div>
</section>
<!--my seen End-->