<div class="jumbotron text-center">
  <%= link_to_follow(@user) %>
  <h1 class="display-4"><%= @user.name || @user.email %></h1>
  <p class="lead"></p>
</div>

<h3>Following</h3>
<% @user.following.each do |user| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= user.name || user.email %></h5>
    </div>
  </div>
<% end %>

<br>

<h3>Followers</h3>
<% @user.followers.each do |user| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= user.name || user.email %></h5>
    </div>
  </div>
<% end %>
