<tr>
  <td>
    <%= provider.name %>
  </td>
  <td class="text-right">
    <div class="btn-group btn-group-sm">
      <%= link_to icon_tag('edit'), edit_provider_path(provider), class: 'btn btn-white' %>
    </div>
  </td>
</tr>