<div class="row">
  <div class="col">
    <div class="card card-small mb-4">
      <div class="card-header">
        <h6 class="m-0"><%= collection_title %></h6>
      </div>
      <div class="card-body p-0 pb-3">
        <table class="table mb-0">
          <%= render collection %>
        </table>
      </div>
    </div>
  </div>
</div>