<div class="page-header row no-gutters py-4">
  <div class="col-12 text-center text-sm-left mb-0">
    <span class="text-uppercase page-subtitle"><%= page_subtitle %>&nbsp;</span>
    <h3 class="page-title"><%= page_title %></h3>
  </div>
</div>