<div class="media">
  <%= poster_tag movie, class: 'mr-3' %>
  <div class="media-body">
    <h5 class="mt-0"><%= link_to movie.title, admin_movie_path(movie) %></h5>
    <p><%= movie.summary %></p>
    <span class="badge badge-pill badge-secondary"><%= movie.tmdb_id %></span>
  </div>
</div>