@import "selectize/selectize.bootstrap3";

.selectize-dropdown, .selectize-dropdown.form-control {
  z-index: 2000;
}

.selectize-control.single .selectize-input:after{
  display:none
}

.main-navbar__search, .main-sidebar__search {
  .selectize-input {
    border:none;
    box-shadow: none;
    &.focus {
      box-shadow: none;
    }
  }
}

.main-navbar__search {
  .selectize-input {
    padding-top: 20px;
    padding-left: 13px;
  }
}

.main-sidebar__search {
  height: 3.25rem;
  padding-left: 16px;
  .selectize-input {
    padding-left: 13px;
  }
}