<div class="item">
  <div class="actore-image">
    <%= tmdb_image_tag(credit.person, :profile) %>
  </div>
  <div class="actore-name">
    <h3><%= credit.person.name %></h3>
    <h6><%= credit.character %></h6>
  </div>
</div>