<% Category.root.each do |category| %>
  <h4><%= category.name.pluralize %></h4>
  <div class="mb-4">
    <%= f.input :category_ids, collection: category.categories, as: :check_boxes %>
  </div>
<% end %>