<% Category.root.each do |category| %>
  <li class="list-group-item p-4">
    <h6 class="form-text"><%= category.name.pluralize %></h6>
    <%= f.input :category_ids, collection: category.categories, as: :check_boxes, label: false %>
  </li>
<% end %>
