<!--Cast And Crew-->
<section class="cast-crew">
  <div class="container">
    <div class="heading_inner">
      <h2>Cast and Crew </h2>
    </div>
    <div class="slider-cast">
      <div id="cast-slider" class="owl-carousel owl-theme owl-loaded owl-drag">
        <%= render media.credits %>
      </div>
    </div>
  </div>
</section>
<!--Cast And Crew End-->