<section class="masthead">
  <div class="masthead-image" style="background-image: url('<%= media.tmdb_image_path(:backdrop) %>');"></div>
  <div class="masthead-shadow"></div>
  <div class="masthead-title">
    <div class="container">
      <h1><%= media.title %> <span class="year"><%= media.year %></span></h1>
    </div>
  </div>
  <div class="masthead-footer">
    <div class="container">details</div>
  </div>
</section>