@import "bootstrap";
@import "bootstrap-toggle";

main {margin-top: 56px;}
.poster {
  width: 120px;
}
.backdrop {
  height:200px;
}
.cast-photo {width: 138px;}
.cast-photo img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}


.toggle > .toggle-group {
  background:white;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  color:#666;
}

.toggle.off {
  border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
  background-color: white;
  border: thin rgba(0, 0, 0, .25) solid;
}