@import "bootstrap";
@import "shards-dashboard/shards-dashboards";
@import "admin/forms";

.cursor-pointer {
  cursor: pointer;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
.table th, .table td {
  padding: .75rem 1rem;
}

.card-media {
  width: 240px;
  float: left;
  .card-text {
    min-height: 38px;
  }
}

.scores {
  position: absolute; top:170px; left:70px;
  span {
    margin-right: 2px;
    font-weight: normal;
    font-size: 75%;
    width:34px;
    text-align:center;
  }
}


.card-post__author-avatar {
  width: 37px;
  height: 55.6px;
  border-radius: 0;
}
.card-post--1 .card-post__author {
  bottom: 6px;
}

.page-header .poster {
  height: 100px;
  margin: 0 12px;
  background: white;
  margin-bottom: -70px;
  position: relative;
  z-index:10;
  box-shadow: 0 0 0 0.125rem #fff, 0 0.1875rem 0.4375rem rgba(90, 97, 105, 0.5);
}

.card-small {
  .detail {
    position: relative;
    top: -4px;
    margin-left:74px;
  }
}

.selectize-dropdown-content > div.imported::after {
  font-family: "Material Icons";
  content: "check_circle";
  font-size: 20px;
  margin-top:12px;
  color: grey;
}

.selectize-dropdown-content > div.activated::after {
  font-family: "Material Icons";
  content: "check_circle";
  font-size: 20px;
  margin-top:12px;
  color: green;
}

//.card-post--1 .card-body {
//  padding-top: 1.5625rem;
//}

//.poster {
//  width: 120px;
//}
//.backdrop {
//  height:200px;
//}
//.cast-photo {width: 138px;}
//.cast-photo img {
//  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//  filter: grayscale(100%);
//}
