@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
$grid-breakpoints: (
    xs: 0,
    sm: 388px,
    md: 768px,
    lg: 1148px,
    xl: 1528px
);
$container-max-widths: (
    sm: 380px,
    md: 740px,
    lg: 1100px,
    xl: 1460px
);

//1200/1140
//992/960
//768/720
//576/540




@import 'bootstrap';
@import 'bootstrap-rating';
@import 'bootstrap-slider';
@import 'slick.js/slick.scss';
@import 'slick.js/slick-theme.scss';
//@import "mixins";
@import "site/*";

.bg-grey {
  background-color: #e9ecef;
}


