@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
$grid-breakpoints: (
    xs: 0,
    sm: 388px,
    md: 768px,
    lg: 1148px,
    xl: 1528px
);
$container-max-widths: (
    sm: 388px,
    md: 768px,
    lg: 1148px,
    xl: 1510px
);

@import 'bootstrap';
@import 'bootstrap-rating';
@import 'bootstrap-slider';
//@import "mixins";
@import "site/*";

.bg-grey {
  background-color: #e9ecef;
}


