<!--Footer-->
<footer class="footer-main">
  <div class="top-footer">
    <div class="container">
      <div class="row footer-logos">
        <div class="col">
          <div class="logo-img">
            <img src="images/net.png" alt="">
          </div>
        </div>
        <div class="col">
          <div class="logo-img">
            <img src="images/hbo.png" alt="">
          </div>
        </div>
        <div class="col">
          <div class="logo-img">
            <img src="images/amzone.png" alt="">
          </div>
        </div>
        <div class="col">
          <div class="logo-img">
            <img src="images/hulu.png" alt="">
          </div>
        </div>
      </div>
      <div class="row top-footer-row">
        <div class="col first-col">
          <div class="footer-col">
            <h2>Quick Links</h2>
            <ul>
              <li><a href="#">Movies</a></li>
              <li><a href="#">TV Series</a></li>
              <li><a href="#">Showcase</a></li>
              <li><a href="#">Followers</a></li>
              <li><a href="#">Reviews</a></li>
            </ul>
          </div>
        </div>
        <div class="col secound-col">
          <div class="footer-col">
            <h2>What’s Streaming</h2>
            <ul>
              <li><a href="#">What’s on Netflix</a></li>
              <li><a href="#">What’s on Hulu</a></li>
              <li><a href="#">What’s on HBO</a></li>
              <li><a href="#">What’s on Amazon Prime</a></li>
            </ul>
          </div>
        </div>
        <div class="col third-col">
          <div class="footer-col">
            <h2>What to Watch</h2>
            <ul>
              <li><a href="#">What to Watch </a></li>
              <li><a href="#">Roulette Randomizer</a></li>
              <li><a href="#">Popular TV Shows</a></li>
              <li><a href="#">Free Tv & Movies</a></li>
            </ul>
          </div>
        </div>
        <div class="col fourth-col">
          <div class="footer-col">
            <h2>Support</h2>
            <ul>
              <li><a href="#">My Account </a></li>
              <li><a href="#">Faq’s</a></li>
              <li><a href="#">Watch on TV</a></li>
              <li><a href="#">Contact US</a></li>
              <li><a href="#">Sitemap</a></li>
            </ul>
          </div>
        </div>
        <div class="col five-col">
          <div class="footer-col">
            <img src="images/footer-logo.png" alt="">
            <ul class="terms">
              <li><a href="#">Terms of Use</a>   |</li>
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="colpy-right">
            <p>© Copyright 2019 iGEMS. All Right Reserved. </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="footer-social-icons">
            <ul>
              <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
              <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
              <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></li>
              <li><a href="#"><i class="fa fa-vimeo-square" aria-hidden="true"></i> vimeo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer End-->
