<!--Fan Reviews-->
<section class="fan-review">
  <div class="container">
    <div class="heading_inner">
      <h2>Fan Reviews</h2>
    </div>
    <div class="row">
      <%= render media.reviews.order(:created_at).page(params[:page]) %>
    </div>
  </div>
</section>
<!--Fan Reviews End-->